APP_NAME=ihomestay.my
APP_ENV=production
APP_DEBUG=false
APP_URL=https://new.ihomestay.my
APP_KEY=

DB_HOST=localhost
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=
DB_CHARSET=utf8mb4

BILLPLZ_API_KEY=
BILLPLZ_COLLECTION_ID=
BILLPLZ_X_SIGNATURE_KEY=
BILLPLZ_SANDBOX=false

MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=noreply@ihomestay.my
MAIL_FROM_NAME=ihomestay.my

UPLOAD_MAX_SIZE_MB=5
